* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/dunebkground.jpg");
    background-attachment: fixed;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center center;
    
 
  }
  
  button, input[type="text"] {
    padding: 10px 40px;
    font-size: 30px;
    font-weight: 400px;
    border-radius: 10px;
    background-color: #e67f4c; 
    font-family: 'Vollkorn', serif;
    margin: 40px 0;
    
  }
  

  
  button:hover {
    cursor: pointer;
    background-color: #030200;
    color: #ffffff;
   
  }
 
  .duneContainer{
    
    /* text-align:center; */
    width: 80%;
    height: 50%;
    max-width: 800px;
    background-color: white;
    opacity: .88;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 10px;
  }

h1{
  text-align: center;
  font-family: 'Vollkorn', serif;
  font-size: 80px;
  margin: 20px 0;
}

.startQuiz{
  text-align: center;
}
.buttonContainer{

  text-align: center;
  
}
section.final.altBox{
  text-align: center;
}


 .duneTitle{
    font-size: 36px;
    margin: 0 auto;

  }

 

  p{
    font-family: 'Montaga', serif;
    font-size: 1.5em;
  }
  
  .scoreBoard{
   display: inline-block;
   text-align: center;
   width: 100%;
   height: 400px;
  
    
   
  }
 
  
 li.sizeMe{
    display: inline-block;
    background-color: white;  
    font-size: 1.5em;
    font-family: 'Montaga', serif;
    text-align: center;
    padding:10px 40px;
    width: 300px;
    
  
  }
 

 
ul{
  padding: 0;

}


  .questionText{
    font-size: 30px;
    padding: 10px 0 80px 0;
    font-family: 'Roboto', sans-serif; 
    font-weight:700;
    text-align: center;
    
}

label.sizeMe{
  font-size: 20px;
  display: flex;
  width: 80%;
  height: 50%;
  justify-content: left;
  padding: 5px 0;
}


fieldset  {
  border: 0;
}

h3{
  font-size: 25px;
}
.wrongAn{
  color:red;
  /* text-align: center; */
}
/* p.sizeMe.wrongAnswer{
text-align: center;
} */

section.response.altBox{
  text-align:center;
}




@media (max-width: 635px){

  li.sizeMe{
    display:block;
    margin: auto;
    width: 200px;
    background-color: white;  
    font-family: 'Montaga', serif;
    
    
    

  }


}
